cars/src/main/resources/ford-example.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ENGINE">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:int" name="power" use="optional"/>
                    <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="WHEELS">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="size" use="optional"/>
                    <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="MODEL">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ENGINE"/>
                <xs:element ref="WHEELS"/>
                <xs:element ref="SUBMODELS" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:string" name="line" use="optional"/>
            <xs:attribute type="xs:int" name="from" use="optional"/>
            <xs:attribute type="xs:int" name="to" use="optional"/>
            <xs:attribute type="xs:string" name="type" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SUBMODELS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MODEL" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CATALOGUE">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MODEL" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>